<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l.mapper.NewMapper">
    <!--    开启缓存-->
    <cache/>
    <resultMap id="baseMap" type="com.l.pojo.New">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="publishTime" property="publishTime"/>
        <result column="clicks" property="clicks"/>
        <result column="publishStatus" property="publishStatus"/>
        <association
                property="user"
                column="userId"
                javaType="com.l.pojo.User"
                select="com.l.mapper.UserMapper.selectByPrimaryKey"></association>
        <association
                property="category"
                column="categoryId"
                javaType="com.l.pojo.Category"
                select="com.l.mapper.CategoryMapper.selectByPrimaryKey"></association>
    </resultMap>
    <sql id="baseSql">
        id
        , title, content, categoryId, userId, publishTime, clicks, publishStatus
    </sql>
    <select id="selectByPrimaryKey" resultMap="baseMap">
        select
        <include refid="baseSql"></include>
        from New where id = #{id};
    </select>

    <select id="selectAll" resultMap="baseMap">
        select *
        from New;
    </select>

    <insert id="insertOne" parameterType="com.l.pojo.New" useGeneratedKeys="true" keyProperty="id">
        insert into New (title, content, categoryId, userId)
        values (#{title}, #{content}, #{category.id}, #{user.id})
    </insert>

    <delete id="deleteBySelective" parameterType="New">
        delete from New
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="title != null">
                and title = #{title}
            </if>
            <if test="category != null and category.Id != null">
                and categoryId = #{category.id}
            </if>
            <if test="user != null and user.id != null">
                and userId = #{user.id}
            </if>
        </where>
    </delete>
    <update id="updateByPrimaryKeySelective">
        update New
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="category != null and category.id != null">
                categoryId = #{category.id},
            </if>
            <if test="user != null and user.id != null">
                userId = #{user.id},
            </if>
        </set>
        where id = #{id}
    </update>
    <update id="updateByPrimaryKeyAddClicks">
        update New
        set clicks = clicks + 1
        where id = #{id};
    </update>
    <select id="selectLimitBySelective" resultMap="baseMap">
        select
        <include refid="baseSql"></include>
        from New
        <if test="n != null">
            <where>
                <if test="n.id != null">
                    and id = #{n.id}
                </if>
                <if test="n.title != null">
                    and title like CONCAT('%',#{n.title}, '%')
                </if>
                <if test="n.category != null and n.category.id != null">
                    and categoryId = #{n.category.id}
                </if>
                <if test="n.user != null and n.user.id != null">
                    and userId = #{n.user.id}
                </if>
            </where>
        </if>
        limit #{index}, #{number}
    </select>

    <select id="selectSelectiveCount" resultType="long">
        select
        count(id)
        from New
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="title != null">
                and title like CONCAT('%',#{title}, '%')
            </if>
            <if test="category != null and category.id != null">
                and categoryId = #{category.id}
            </if>
            <if test="user != null and user.id != null">
                and userId = #{user.id}
            </if>
        </where>
    </select>
</mapper>