<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l.mapper.RoleMapper">
    <!--    开启缓存-->
    <cache/>
    <resultMap id="baseMap" type="Role">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="remark" column="remark"/>
    </resultMap>
    <sql id="baseSql">
        `id`, `name`, `remark`
    </sql>
    <!--    查询所有-->
    <select id="selectAll" resultMap="baseMap">
        select
        <include refid="baseSql"></include>
        from Role;
    </select>
    <!--    查询单个-->
    <select id="selectById" resultMap="baseMap">
        select
        <include refid="baseSql"/>
        from Role
        where id = #{id};
    </select>
    <!--删除单个-->
    <delete id="deleteById" parameterType="Integer">
        delete from Role where id = #{id}
    </delete>
    <insert id="insertOne" parameterType="Role" keyProperty="id" useGeneratedKeys="true">
        insert into Role(id, name, remark)
        value (null , #{name}, #{remark})
    </insert>
    <update id="updateOne" parameterType="Role">
        update Role
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="remark != null">
                remark = #{remark},
            </if>
        </set>
        where id = #{id};
    </update>
</mapper>