<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.l.mapper.UserMapper">
    <!--    开启缓存-->
    <cache/>
    <resultMap id="UserMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="tel" property="tel"/>
        <result column="registerTime" property="registerTime"/>
        <result column="status" property="status"/>
        <association
                property="role"
                column="roleId"
                javaType="Role"
                select="com.l.mapper.RoleMapper.selectById"
        />
    </resultMap>
    <sql id="UserSql">
        `id`, `username`, `password`, `roleId`, `tel`, `registerTime`, `status`
    </sql>
    <select id="selectAll" resultMap="UserMap">
        select
        <include refid="UserSql"></include>
        from User;
    </select>
    <select id="selectByPrimaryKey" resultMap="UserMap" parameterType="Integer">
        select
        <include refid="UserSql"></include>
        from User
        where id = #{id};
    </select>
    <select id="selectBySelective" resultMap="UserMap" parameterType="User">
        select
        <include refid="UserSql"></include>
        from User
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="role != null">
                and roleId = #{role.id}
            </if>
            <if test="tel != null">
                and tel = #{tel}
            </if>
            <if test="registerTime != null">
                and registerTime = #{registerTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id">
        insert into User (username, password, roleId, tel) values (
            #{username},
            #{password},
            #{role.id},
            #{tel}
        );
    </insert>
    <delete id="deleteBySelective" parameterType="User">
        delete from User
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username = #{username}
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="role != null">
                and roleId = #{role.id}
            </if>
            <if test="tel != null">
                and tel = #{tel}
            </if>
            <if test="registerTime != null">
                and registerTime = #{registerTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </delete>
    <update id="updateByPrimaryKeySelective" parameterType="User">
        update User
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="tel != null">
                tel = #{tel},
            </if>
            <if test="registerTime != null">
                registerTime = #{registerTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="role != null and role.id != null">
                roleId = #{role.id},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="selectLimitBySelective" resultMap="UserMap">
        select
        <include refid="UserSql"></include>
        from User
        <if test="user != null">
            <where>
                <if test="user.id != null">
                    and id = #{user.id}
                </if>
                <if test="user.username != null">
                    and username like CONCAT('%', #{user.username}, '%')
                </if>
                <if test="user.password != null">
                    and password = #{user.password}
                </if>
                <if test="user.role != null and user.role.id != null">
                    and roleId = #{user.role.id}
                </if>
                <if test="user.tel != null">
                    and tel = #{user.tel}
                </if>
                <if test="user.registerTime != null">
                    and registerTime = #{user.registerTime}
                </if>
                <if test="user.status != null">
                    and status = #{user.status}
                </if>
            </where>
        </if>
        limit #{index}, #{number}
    </select>
    <select id="selectSelectiveCount" resultType="long" parameterType="User">
        select
        count(id)
        from User
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="username != null">
                and username like CONCAT('%', #{username}, '%')
            </if>
            <if test="password != null">
                and password = #{password}
            </if>
            <if test="role != null and role.id != null">
                and roleId = #{role.id}
            </if>
            <if test="tel != null">
                and tel = #{tel}
            </if>
            <if test="registerTime != null">
                and registerTime = #{registerTime}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </where>
    </select>
</mapper>